[submodule "backend"]
	path = backend
	url = https://github.com/FullStack-course-pace/TrueFeed-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/FullStack-course-pace/TrueFeed-Frontend.git
