[submodule "backend"]
	path = backend
	url = https://github.com/fullstack-course-pace/truefeed-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/fullstack-course-pace/truefeed-frontend.git
